




  .uk-navbar-item.uk-logo {
    position: fixed;
    top: 10;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: #023b14; /* Change the color to your desired value */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, sans-serif; /* Add your desired font name here */
  
  }


  .animated-icon:hover {
    transform: scale(1.2); /* Increases the size of the icon on hover */
    transition: transform 0.3s ease-in-out; /* Adds a smooth transition effect */
  }
  
